<h2>Longest Word Game</h2>

<div class="card p-3 my-4">
  <h3>Result</h3>
  <p><%= @result[:message] %></p>
  <p>Your score for this word: <strong><%= @result[:score] %></strong></p>
  <p>Your total score: <strong><%= @total_score %></strong></p>
</div>

<!--
  This is the Rails "link_to" helper.
  The 'new_path' is a "route helper" that Rails
  generates from your 'get "new", ...' route.
-->
<%= link_to "Play again?", new_path, class: "btn btn-outline-primary" %>
